
.card {
    color: #5D5D5D;
}

.add_to_cart-button {
    margin-top: 40px;
    background-color: #eec5ba;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}

.add_to_cart-button:hover {
    background-color: white;
    border: 1px solid white;
    color: #eec5ba;
}